@model Customer

@{
    int billPayCount = 0;
    foreach (var account in Model.Accounts)
        billPayCount += account.BillPays.Count;
}
<div>
    <h1 class="display-4">BillPay</h1>
    @if (billPayCount == 0)
    {
        <h1>You currently have no Bills</h1>
        <p>Click the "Create new Bill" button to make one</p>
    }
    @if (billPayCount > 0)
    {
        <h3>Your Bills</h3>
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(x => x.Accounts[0].BillPays[0].BillPayID)</th>
                <th>@Html.DisplayNameFor(x => x.Accounts[0].BillPays[0].AccountID)</th>
                <th>@Html.DisplayNameFor(x => x.Accounts[0].BillPays[0].PayeeID)</th>
                <th>@Html.DisplayNameFor(x => x.Accounts[0].BillPays[0].Amount)</th>
                <th>@Html.DisplayNameFor(x => x.Accounts[0].BillPays[0].ScheduleTimeUtc)</th>
                <th>@Html.DisplayNameFor(x => x.Accounts[0].BillPays[0].Period)</th>

            </tr>
            @foreach (var account in Model.Accounts)
            {
                foreach (var billPay in account.BillPays.OrderBy(x => x.ScheduleTimeUtc))
                {
                    <tr>
                        <td>@billPay.BillPayID</td>
                        <td>@billPay.AccountID</td>
                        <td>@billPay.PayeeID</td>
                        <td>@Html.DisplayFor(x => billPay.Amount)</td>
                        <td>@billPay.ScheduleTimeUtc.ToLocalTime()</td>
                        <td>@billPay.Period</td>
                        <td>
                            <a class="btn btn-primary" asp-action="Modify" asp-route-id="@billPay.BillPayID">Modify</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-action="Cancel" asp-route-id="@billPay.BillPayID">Cancel</a>
                        </td>
                    </tr>
                }
            }
        </table>
    }
</div>
<div>
    <a class="btn btn-primary" asp-action="New" asp-route-id="">Create new Bill</a>
</div>