@model Customer

<h1>My Profile</h1>
<form asp-action="Index">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group row">
        <label asp-for="CustomerID"  class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="CustomerID" readonly class="form-control-plaintext" value="@Model.CustomerID">
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input  asp-for="Name" value="@Model.Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="TFN" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input  asp-for="TFN" value="@Model.TFN">
            <span asp-validation-for="TFN" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Address" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input  asp-for="Address" value="@Model.Address">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Suburb" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input  asp-for="Suburb" value="@Model.Suburb">
            <span asp-validation-for="Suburb" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="State" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input  asp-for="State" value="@Model.State">
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="PostCode" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input  asp-for="PostCode" value="@Model.PostCode">
            <span asp-validation-for="PostCode" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Mobile" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input  asp-for="Mobile" value="@Model.Mobile">
            <span asp-validation-for="Mobile" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save Changes" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Change Password</a>
</div>