<!--this view is built off of code from day 6 McbaExampleWithLogin-->
@model Customer
@{
    ViewData["Title"] = "Accounts";
}

<div>
    <h1 class="display-4">Welcome, @Model.Name</h1>
    
    <h3>Your Accounts</h3>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountID)</th>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountType)</th>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].Balance)</th>
            <th></th>
        </tr>
        @foreach(var account in Model.Accounts) {
            <tr>
                <td>@Html.DisplayFor(x => account.AccountID)</td>
                <td>@Html.DisplayFor(x => account.AccountType)</td>
                <td>@Html.DisplayFor(x => account.Balance)</td>
                <td>
                    <a class="btn btn-primary" asp-action="Deposit" asp-route-id="@account.AccountID">Deposit</a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Withdraw" asp-route-id="@account.AccountID">Withdraw</a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Transfer" asp-route-id="@account.AccountID">Transfer</a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="MyStatements" asp-route-id="@account.AccountID">My Statement</a>
                </td>
            </tr>
        }
    </table>
</div>
